@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.btn {    
  width: 50%;
  height: 80px;
  transition: width 2s cubic-bezier(0.23, 1, 0.32, 1), height 2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 2s cubic-bezier(0.23, 1, 0.32, 1), height 2s cubic-bezier(0.23, 1, 0.32, 1), transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #F44336;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

.btn-front:hover {
  background-color: #f77066; }

.btn-back {
  	position: absolute;
	text-align:center;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  -webkit-transform: translateZ(-1px) rotateX(180deg);
          transform: translateZ(-1px) rotateX(180deg);
  overflow: hidden; }

.btn-back button {
  padding: 12px 20px;
  width: 40%;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.btn-back button.yes {
  background-color: #2196F3;
  color: #fff; }
.btn-back button.yes:hover {
  background-color: #51aef6; }

.btn-back button.no {
  background-color: #eee;
  color: #2196F3; }
.btn-back button.no:hover {
    background-color: #ddd; }

.btn.is-open {
	position: absolute;
	text-align:center;
  width: 80%;
  height: 120px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }
